# Entorno virtual
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de configuración sensibles
*.env
.env

# Base de datos
*.db
*.sqlite3

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.bak